.main {
	background-color: #ffffff;
	width: 1100px;
	min-height: 100%;
	height: 100% auto;
	margin: 0 auto;
	padding: 5px;
	padding-top: 0px;
}

body {
	background-color: #11384f;
	width: 100% auto;
	height: 100% auto ;
	margin: 0 auto;
}

.header {
	margin: 5px;
	margin-top: 0px;
	background-color: #554;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

 .toggle {  
	width: 90%;
	padding-left:20px;
	padding-top:18px;
	cursor: pointer;
	background-position : 4px -19px;
	background-repeat : no-repeat;
 }
  
 .showhide {  
	width: 80%;
	padding-top:10px;
	padding-bottom:10px;
	margin-left: 50px;
	display: none;
 }

 .active {
	background-repeat:no-repeat;
	background-position : 4px 11px;
 }

 .toggle a{color:#00F;text-decoration:underline}
 .toggle a:hover{text-decoration:underline}

#img {
	margin: 10px;
	margin-top: 0px;
}

.footer {
	border-radius: 5px;
	background-color: #554;
	position: relative;
	color: white;
	text-align: center;
	margin: 5px;
	padding: 5px;
}

.footer a {
	color: white;
	text-decoration: none;
}

.footer a:hover {
	color: white;
	text-decoration: underline;
}

.footer a:visited {
	color: white;
}

.inner {
	margin: 10px auto;
	margin-left: 10px;
}

.inner table {
	width: 98%;
	margin: 0 auto;
}